# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
